html {
    background-color: #BBD9EE;
}
h1, h2, h3 {
    color: black;
    text-align: center;
}

img {
    height: 100px;
    width: auto;
}
button {
    background-color: #206BA4;
    color: white;
    border: solid 3px #206BA4;
    text-decoration: none;
    padding: 3px 7px;
}
button:hover {
    background-color: white;
    color: #206BA4;
}
#header-container {
    height: 68px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #206BA4;
}
#body-container {
    width: 100%;
    position: relative;
    top: 60px;
}
#results, #setup {
    margin-top: 15px;
    width: 1070px;
    margin: auto;
    background-color: #C0C0C0;
}



[class^="column"] {
    display: inline-block;
    padding: 7px;
    margin: 2px;
}
.column1 {
    width: 250px;
}
.column2 {
    width: 50px;
}
.column3 {
    width: 80px;
}

#stats-header, #setup {
    padding: 7px;

}
.stats:nth-child(odd) {
    background-color: #F1EFE2;
    padding: 7px;
}
.stats:nth-child(even) {
    background-color: #EBF4FA;
    padding: 7px;
}
.stats-details {
    background-color: #E7E4D3;
    padding: 7px;
}
.stats-images {
    display: inline-block;
    margin: 3px;
}
#overall-stats {
    padding: 7px;
}